In [1]:
import os
from init_jupyter_sql import initialize_notebook
from pydiverse.common.util.structlog import setup_logging
import pydiverse.pipedag as dag
from pydiverse.pipedag import Stage, PipedagConfig
import polars as pl

setup_logging()
# these are just the dummy credentials for the minio container in docker-compose.yaml
os.environ["AWS_ACCESS_KEY_ID"] = "minioadmin"
os.environ["AWS_SECRET_ACCESS_KEY"] = "minioadmin"

## Synchronize local duckdb file with metadata in metadata_table_store (here: Postgres) and setup jupysql

In [2]:
instance = None  # in a real life situation, it is recommended to have multiple pipeline instances in pipedag.yaml
engine, instance_cfg = initialize_notebook(instance)

2026-01-21 12:52:20.993882 [info     ] Initialized SQL Table Store    [ParquetTableStore] engine_url=duckdb:////tmp/pipedag/parquet_duckdb/pipedag_default.duckdb schema_prefix= schema_suffix=
2026-01-21 12:52:20.994313 [info     ] Initialized Parquet Table Store [ParquetTableStore] engine_url=duckdb:////tmp/pipedag/parquet_duckdb/pipedag_default.duckdb parquet_base_path=S3Path('pipedag-test-bucket/table_store', protocol='s3') schema_prefix= schema_suffix=
2026-01-21 12:52:21.055367 [info     ] Initialized SQL Table Store    [PostgresTableStore] engine_url=postgresql://sa:***@127.0.0.1:6543/pipedag_default_s3 schema_prefix= schema_suffix=
2026-01-21 12:52:21.073494 [info     ] Initialized SQL Table Store    [ParquetTableStore] engine_url=duckdb:////tmp/pipedag/parquet_duckdb/pipedag_default.duckdb schema_prefix= schema_suffix=
2026-01-21 12:52:21.074081 [info     ] Initialized Parquet Table Store [ParquetTableStore] engine_url=duckdb:////tmp/pipedag/parquet_duckdb/pipedag_default.duckdb parquet_base_path=S3Path('pipedag-test-bucket/table_store', protocol='s3') schema_prefix= schema_suffix=
2026-01-21 12:52:21.090109 [info     ] Initialized SQL Table Store    [PostgresTableStore] engine_url=postgresql://sa:***@127.0.0.1:6543/pipedag_default_s3 schema_prefix= schema_suffix=
2026-01-21 12:52:21.091377 [info     ] Executing sql                  [ParquetTableStore]
    [query]
    CREATE SCHEMA IF NOT EXISTS pipedag_metadata
2026-01-21 12:52:21.136920 [info     ] Finished synchronizing metadata for all stages [ParquetTableStore] main_schemas=['stage_3', 'stage_1', 'stage_2'] transaction_schemas=['stage_2__odd', 'stage_3__odd', 'stage_1__odd']

Tip: You may define configurations in /Users/martin/code/pydiverse.pipedag/pyproject.toml or /Users/martin/.jupysql/config.

Did not find user configurations in /Users/martin/code/pydiverse.pipedag/pyproject.toml.

## Query a table generated by run_pipeline.py

In [3]:
%%sql
SELECT * from stage_1.lazy_1

2026-01-21 12:52:21.193032 [info     ] Found credentials in environment variables.

+---+---+
| x | y |
+---+---+
| 1 | 2 |
+---+---+

In [4]:
%%sql
SELECT schema_name as "schema", view_name as "view", column_count as "columns", "sql" FROM duckdb_views() WHERE schema_name not like '%__odd' and schema_name not like '%__even' and database_name <> 'system'

+---------+------------------------------------+---------+--------------------------------------------------------------------------------------------------------------------------+
|  schema |                view                | columns |                                                           sql                                                            |
+---------+------------------------------------+---------+--------------------------------------------------------------------------------------------------------------------------+
| stage_1 |                dfa                 |    2    |                                CREATE VIEW stage_1.dfa AS SELECT * FROM stage_1__odd.dfa;                                |
| stage_1 |          dfb_2e2lir_0001           |    2    |                    CREATE VIEW stage_1.dfb_2e2lir_0001 AS SELECT * FROM stage_1__odd.dfb_2e2lir_0001;                    |
| stage_1 |               lazy_1               |    2    |                             CREATE VIEW stage_1.lazy_1 AS SELECT * FROM stage_1__odd.lazy_1;                             |
| stage_2 |   eager_task_colspec_bnw2yx_0000   |    3    |     CREATE VIEW stage_2.eager_task_colspec_bnw2yx_0000 AS SELECT * FROM stage_2__odd.eager_task_colspec_bnw2yx_0000;     |
| stage_2 |     eager_task_colspec_pdt_out     |    3    |         CREATE VIEW stage_2.eager_task_colspec_pdt_out AS SELECT * FROM stage_2__odd.eager_task_colspec_pdt_out;         |
| stage_2 |   eager_task_dataframely_pdt_out   |    3    |     CREATE VIEW stage_2.eager_task_dataframely_pdt_out AS SELECT * FROM stage_2__odd.eager_task_dataframely_pdt_out;     |
| stage_2 | eager_task_dataframely_tsjobu_0000 |    3    | CREATE VIEW stage_2.eager_task_dataframely_tsjobu_0000 AS SELECT * FROM stage_2__odd.eager_task_dataframely_tsjobu_0000; |
| stage_2 |       eager_task_dt7dad_0000       |    3    |             CREATE VIEW stage_2.eager_task_dt7dad_0000 AS SELECT * FROM stage_2__odd.eager_task_dt7dad_0000;             |
| stage_2 |         eager_task_pdt_out         |    4    |                 CREATE VIEW stage_2.eager_task_pdt_out AS SELECT * FROM stage_2__odd.eager_task_pdt_out;                 |
| stage_2 |   eager_task_polars_2nfq3d_0000    |    3    |      CREATE VIEW stage_2.eager_task_polars_2nfq3d_0000 AS SELECT * FROM stage_2__odd.eager_task_polars_2nfq3d_0000;      |
| stage_2 |      lazy_task_3_bbjzdv_0000       |    2    |            CREATE VIEW stage_2.lazy_task_3_bbjzdv_0000 AS SELECT * FROM stage_2__odd.lazy_task_3_bbjzdv_0000;            |
| stage_2 |         lazy_task_colspec          |    3    |                  CREATE VIEW stage_2.lazy_task_colspec AS SELECT * FROM stage_2__odd.lazy_task_colspec;                  |
| stage_2 |     lazy_task_colspec_pdt_out      |    3    |          CREATE VIEW stage_2.lazy_task_colspec_pdt_out AS SELECT * FROM stage_2__odd.lazy_task_colspec_pdt_out;          |
| stage_2 |         lazy_task_pdt_out          |    4    |                  CREATE VIEW stage_2.lazy_task_pdt_out AS SELECT * FROM stage_2__odd.lazy_task_pdt_out;                  |
| stage_2 |             task_2_out             |    2    |                         CREATE VIEW stage_2.task_2_out AS SELECT * FROM stage_2__odd.task_2_out;                         |
| stage_2 |       _raw_lazy_task_colspec       |    3    |             CREATE VIEW stage_2._raw_lazy_task_colspec AS SELECT * FROM stage_2__odd._raw_lazy_task_colspec;             |
| stage_2 |   _raw_lazy_task_colspec_pdt_out   |    4    |     CREATE VIEW stage_2._raw_lazy_task_colspec_pdt_out AS SELECT * FROM stage_2__odd._raw_lazy_task_colspec_pdt_out;     |
| stage_2 |             _t_moqfzj              |    6    |                          CREATE VIEW stage_2._t_moqfzj AS SELECT * FROM stage_2__odd._t_moqfzj;                          |
| stage_2 |             _t_mr6kok              |    6    |                          CREATE VIEW stage_2._t_mr6kok AS SELECT * FROM stage_2__odd._t_mr6kok;                          |
| stage_3 |      lazy_task_4_nhfcth_0000       |    2    |            CREATE VIEW stage_3.lazy_task_4_nhfcth_0000 AS SELECT * FROM stage_3__odd.lazy_task_4_nhfcth_0000;            |
+---------+------------------------------------+---------+--------------------------------------------------------------------------------------------------------------------------+

## Lookup parquet file location from view definition: s3://.../lazy_1.parquet

In [5]:
%%sql
SELECT schema_name as "schema", view_name as "view", column_count as "columns", "sql" FROM duckdb_views() WHERE schema_name like 'stage_1__%' and view_name = 'lazy_1'

+---------------+--------+---------+----------------------------------------------------------------------------------------------------------------------------------------------------+
|     schema    |  view  | columns |                                                                        sql                                                                         |
+---------------+--------+---------+----------------------------------------------------------------------------------------------------------------------------------------------------+
| stage_1__even | lazy_1 |    2    |                                         CREATE VIEW stage_1__even.lazy_1 AS SELECT * FROM stage_1.lazy_1;                                          |
|  stage_1__odd | lazy_1 |    2    | CREATE VIEW stage_1__odd.lazy_1 AS SELECT * FROM read_parquet('s3://pipedag-test-bucket/table_store/pipedag_default/stage_1__odd/lazy_1.parquet'); |
+---------------+--------+---------+----------------------------------------------------------------------------------------------------------------------------------------------------+

## Access parquet file directly with polars

In [6]:
store = instance_cfg.store.table_store
table = dag.Table(name="lazy_1", stage=Stage("stage_1", force_committed=True))
lf = store.retrieve_table_obj(table, as_type=pl.LazyFrame)
lf.collect()

shape: (1, 2)
┌─────┬─────┐
│ x   ┆ y   │
│ --- ┆ --- │
│ i32 ┆ i32 │
╞═════╪═════╡
│ 1   ┆ 2   │
└─────┴─────┘

## Access parquet file without running initialize_notebook

In [7]:
instance = None  # in a real life situation, it is recommended to have multiple pipeline instances in pipedag.yaml
instance_cfg = PipedagConfig.default.get(instance)
store = instance_cfg.store.table_store
table = dag.Table(name="lazy_1", stage=Stage("stage_1", force_committed=True))
lf = store.retrieve_table_obj(table, as_type=pl.LazyFrame)
lf.collect()

2026-01-21 12:52:21.430346 [info     ] Initialized SQL Table Store    [ParquetTableStore] engine_url=duckdb:////tmp/pipedag/parquet_duckdb/pipedag_default.duckdb schema_prefix= schema_suffix=
2026-01-21 12:52:21.430670 [info     ] Initialized Parquet Table Store [ParquetTableStore] engine_url=duckdb:////tmp/pipedag/parquet_duckdb/pipedag_default.duckdb parquet_base_path=S3Path('pipedag-test-bucket/table_store', protocol='s3') schema_prefix= schema_suffix=
2026-01-21 12:52:21.447863 [info     ] Initialized SQL Table Store    [PostgresTableStore] engine_url=postgresql://sa:***@127.0.0.1:6543/pipedag_default_s3 schema_prefix= schema_suffix=
2026-01-21 12:52:21.451563 [info     ] Initialized SQL Table Store    [ParquetTableStore] engine_url=duckdb:////tmp/pipedag/parquet_duckdb/pipedag_default.duckdb schema_prefix= schema_suffix=
2026-01-21 12:52:21.451907 [info     ] Initialized Parquet Table Store [ParquetTableStore] engine_url=duckdb:////tmp/pipedag/parquet_duckdb/pipedag_default.duckdb parquet_base_path=S3Path('pipedag-test-bucket/table_store', protocol='s3') schema_prefix= schema_suffix=
2026-01-21 12:52:21.465519 [info     ] Initialized SQL Table Store    [PostgresTableStore] engine_url=postgresql://sa:***@127.0.0.1:6543/pipedag_default_s3 schema_prefix= schema_suffix=

shape: (1, 2)
┌─────┬─────┐
│ x   ┆ y   │
│ --- ┆ --- │
│ i32 ┆ i32 │
╞═════╪═════╡
│ 1   ┆ 2   │
└─────┴─────┘